body {
  height: 100%;
}
* {
  margin: 0px;
  padding: 0px;
  flex-wrap: nowrap !important;
}
a,
a:hover {
  text-decoration: none;
  color: black;
}
ul,
ol,
dl {
  list-style-type: none;
}
.top-header-wrapper {
  border-bottom: 3px solid red;
}
.top-header {
  height: 84px;
}
.header-links a img {
  height: 30px;
  margin-right: 20px;
}
.nav-menu-wrapper {
  border-bottom: 1px solid #cccccc;
}
.nav-menu,
.navbar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav-menu ul {
  margin: 0px;
}
.navbar li * {
  color: #585858;
}
.navbar li,
.navbar-right li {
  margin-right: 20px;
  font-weight: bold;
  font-size: 12.8px;
}
.navbar li a:hover,
.navbar-right li:hover,
.navbar-right li a:hover {
  color: #a61c20;
  cursor: pointer;
}
.navbar-right li:first-child i {
  color: #1277bb;
}
.navbar-right li:first-child i:hover {
  color: red;
}
