.article-block {
  float: left;
  width: 490px;
  margin-bottom: 30px;
}

.article-link {
  text-decoration: none;
  color: black;
  display: flex;
}

div > img[class="image"] {
  width: 234px;
  height: 156px;
}

.text {
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  font-weight: bolder;
  font-size: x-large;
  margin: 0;
  display: -webkit-inline-flex;
}

.subtitle {
  margin: 0;
  font-size: medium;
  color: #777;
}
